{% extends 'shared/base.html' %}

{% block content %}
    <section id="computer-details">
    <h1>{{ computer.make }}</h1>
    <h2>Purchase Date: {{ computer.purchase_date }}</h2>

    <div>Decommissioned: {{ computer.decommission_date }}</div>
    <div>Current User: {{ computer.current_user}} </div>
</section>
    <form action="{% url 'hrapp:computer_delete' computer.id %}" method="POST">
    {% csrf_token %}
      <input type="hidden" name="actual_method" value="DELETE">
      <button>Delete</button>
    </form> 
    
  </body>
{% endblock %}