{% extends 'shared/base.html' %}

{% block content %}
    <section id="computer-details">
    <h1>{{ computer.make }}</h1>
    <h2>Purchase Date: {{ computer.purchase_date }}</h2>

    <div>Decommissioned: {{ computer.decommission_date }}</div>
    <div>Current User: {{ computer.current_user}} </div>
</section>
    {% if computer.current_user == "Unassigned" %}
    <form action="{% url 'hrapp:computer_delete' computer.id %}" method="GET">
    {% csrf_token %}
      <button>Delete</button>
    </form> 
    {% else%}
    <div> A computer cannot be deleted once it is assigned. </div>
    {% endif %}
    
  </body>
{% endblock %}