{% extends 'shared/base.html' %}

{% block content %}
    <h1>Register New Computer</h1>


    <form action="{% url 'hrapp:computers' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="make">Make: </label>
          <input id="make" type="text" name="make">
      </fieldset>
      <fieldset>
      <label for='employee'>Assign to an Employee</label>
      <select id="employee" type="text" name="employee" default=0>
                <option value='0' > Leave Unassigned</option>
                {% for employee in employees %}
                    <option value="{{ employee.id }}">{{ employee.first_name }} {{employee.last_name}}</option>
                {% endfor %}
          </select>
      </fieldset>
      

      <input type="submit" value="Add It" />
    </form>
  {% endblock %}