{% extends 'shared/base.html' %}

{% block content %}
<article class="pa1 pa1-ns">
<h1 class="f4 bold tc center mw6">Computers</h1>
<ol class="list pl0 ml0 center mw6 ba b--light-silver br2">
{% for computer in computers %}
    

    <li class="ph3 pv3 bb b--light-silver">
        <h4>
                {{ computer.make }}
            </h4>
        {% comment %} <div> Purchase Date: {{computer.purchase_date}}
        Decommission Date: {{computer.decommission_date}} </div>
        <div> Current User: {{computer.current_user}} </div> {% endcomment %}
    </li>
{% endfor %}
</ol>
</article>
{% endblock content %}