{% extends 'shared/base.html' %}

{% block content %}
<article class="pa1 pa1-ns">
<h1 class="f4 bold tc center mw6">Departments</h1>

<ol class="list pl0 ml0 center mw6 ba b--light-silver br2">
{% for department in departments %}
    <li class="ph3 pv3 bb b--light-silver">
        
        <h4> {{ department.name }} </h4>
        Budget: {{ department.budget }}

        {% comment %} <p>{{ department.name }}</p>
        Budget: {{ department.budget }} {% endcomment %}
    </li>
{% endfor %}
</ol>
</article>
{% endblock content %}