{% extends 'shared/base.html' %}

{% block content %}
<article class="pa1 pa1-ns">
<h1 class="f4 bold tc center mw6">Employees</h1>

<ol class="list pl0 ml0 center mw6 ba b--light-silver br2">
{% for employee in employees %}
    <li class="ph3 pv3 bb b--light-silver">
        <p><a href="{% url 'hrapp:employee' employee.id %}">{{ employee }}</a></p>
        <p>Department: {{ employee.department }}</p>
    </li>
{% endfor %}
</ol>
 </article>
<div class="flex items-center justify-center">
<form action="{% url 'hrapp:employee_form' %}"><button class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">Add Employee</button></form>
</div>
{% endblock content %}
