{% extends 'shared/base.html' %}

{% block content %}
    <section id="employee-details">
        <h1>{{ employee }}</h1>
        <ul>
	        <li>Department: {{ employee.department }}</li>
	        <li>Computer: {{ employee.computer }}</li>
	        <li>Training Programs:
	        	<ul>
	            {% for training_program in training_programs %}
	                <li>{{ training_program.title }}</li>
	            {% endfor %}
	           </ul>
	        </li>
      	</ul>
		  <form action="{% url 'hrapp:employee_assign_training' employee.id %}"><button>Assign Training</button></form>
{% endblock content %}
    </section>
{% endblock %}
