{% extends 'shared/base.html' %}

{% block content %}
    <section>
        <h1>{{ training.title }}</h1>
        <ul>
	        <li>Description: {{ training.description }}</li>
	        <li>Start Date {{ training.start_date }}</li>
	        <li>End Date {{ training.end_date }}</li>
	        <li>Max Attendance {{ training.capacity }}</li>
      	</ul>
        <form action="{% url 'hrapp:training' training.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
</form>

    </section>


{% endblock %}